<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css" media="screen">
      body {
          margin: 0;
          padding: 0;
          background-color: #f0f0f0;
          font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
          font-size: 13px;
          color: #333;
      }

      #top
      {
          width: 100%;
          height: 40px;

          margin:0px;
          padding: 0px;

          display:block;
          clear:both;
          background-color: darkslategrey;
          /*border: 1px solid black;*/
      }

      #topbar
      {
          width: 800px;
          height: 100%;

          margin: 0px auto;
          padding: 0px;



          display:block;
          clear: both;
          overflow:hidden;
      }

      #welcome
      {
          /*width: 300px;*/
          height: 100%;

          margin:0px;
          padding: 0px;

          display:block;
          clear:left;
          float:left;
          color: white;

      }

      #welcome a
      {
          color: white;
          text-decoration: none;
      }

      #welcome a:hover
      {
          color: white;
          text-decoration: underline;
      }

      #logout
      {
          width: 50px;
          height: 100%;

          margin:0px;
          padding: 0px;

          display:block;
          clear:right;
          float:right;
          color: white;
      }

      #logout a
      {
          color: white;
          text-decoration: none;
      }

      #logout a:hover
      {
          text-decoration: underline;
      }


      #page
      {
          margin: 0px auto;
          padding: 20px 0px 0px;
          width: 800px;
          /*border: 1px solid black;*/
          min-height: 570px;
          display:block;
          clear: both;
      }

      #footer
      {
          width:100%;
          height: 55px;

          margin:0px;
          padding: 0px;

          /*border: 1px solid black;*/
          background-color: darkslategrey;
          display: block;
          clear:both;
      }

      #tweets
      {
          width: 500px;
          /*height: 100px;*/
          margin:0px;
          padding: 0px;

          float:left;
          clear:left;
          border: 1px solid black;
          display: block;

      }

      #tweet
      {
          width:488px;
          height: 50px;
          margin:5px;
          padding: 0px;

          /*float:right;*/
          border: 1px solid red;
          border-radius: 5px;
          display: block;
      }

      #otherusers
      {
          width: 270px;
          min-height: 200px;
          margin:0px;
          padding: 0px;

          float:right;
          border: 1px solid black;
          display: block;

      }

      #followers
      {
          width: 270px;
          margin:0px;
          padding: 0px;
          display: block;

      }

      #follower
      {
          margin:0px auto;
          width: 250px;
          height:30px;
          padding: 0px;

          display: block;
          clear:both;
      }

      #followee
      {
          margin:0px auto;
          padding: 0px;

          width: 250px;
          height:30px;

          display: block;
          clear:both;
      }

  </style>
</head>
<body>
<div id="top">
  <div id="topbar">
    <div id="welcome">
      <p>Welcome <%= @user.name %>!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='/user/home' >Home</a> | <a href='/user/all_users' >All Users</a></p>
    </div>
    <div id="logout">
      <p><%= link_to 'logout', :action => 'logout' %></p>
    </div>
  </div>
</div>

<div id="page">

  <p><b>Change Your Name</b></p>
  <% if session[:messages] %>
      Errors in form data:
      <ul>
        <% session[:messages].each do |message| %>
            <li><div id="form_error" style="color: red;"><%= message %></div></li>
        <% end %>
      </ul>
      <% session.delete(:messages)%>
  <% end %>
  <% if @message %>
      <div id="form_error" style="color: red;"><%= @message %></div>
  <% end %>

  <%= form_tag :action => 'change_name', method: :put do %>
      <table border="0">
        <tr>
          <td align="right">
            <label for="old_password">New Name: </label>
          </td>
          <td>
            <%= text_field_tag :name, @user.name, :maxlength => 50  %>
          </td>
        <tr>
      </table>
      <%= submit_tag("Submit") %>&nbsp;&nbsp;<%= submit_tag "Back", name: :back %>
  <% end %>

</div>
<div id="footer">

</div>
</body>
</html>